@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", "Roboto", sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;

}

.nav {
    max-width: 100%;
    background: #049dd9;
    height: 60px;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo {
    font-size: x-large;
    font-weight: bold;
    margin-left: 15px;
    color: #fff;
}

ul li {
    list-style-type: none;
    padding: 20px;
}

a {
    font-size: 20px;
    font-weight: 600;
    color: #f3f3f3;
}

li:active {
    background: #4b4c4e;
    padding: 5px;
}

a:hover {
    color: #201818;
}

.nav ul {
    display: flex;
}

.section {
    background: #05C7F2;
}

.section .container {
    display: flex;
    flex: 1;
    flex-shrink: 1;
}

h1 {
    font-size: 36px;
    font-weight: 350;
    color: #fff;

}

.section p {
    padding: 8px;
    color: #fff;
}

.section img {
    border-radius: 12px;
    object-fit: cover;

}

button {
    text-decoration: none;
}

.section .button {
    text-decoration: none;
    padding: 8px;
    font-size: 16px;
    border-radius: 12px;
    color: white;
    background: #F2B035;
}

.section .box {
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    line-height: 1.5;
}

.section-2 .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px 10px;
}

.section-2 img {
    max-width: 180px;
    border-radius: 13px;
}

.section-2 .boxes {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    padding: 15px;
}

.boxes p {
    padding: 10px;
    display: flex;
    max-width: 100%;
    line-height: 1.5;
}

.blockquote {
    background: #f5f5f5;
}

.blockquote .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.blockquote h3 {
    margin-right: 15px;
    justify-content: flex-end;
    display: flex;
    padding: 10px;
    opacity: 70%;
    font-size: 14px;
}

.blockquote .blockquote-cite {
    padding: 60px;
    margin: 0 10px 0 5px;
    border-bottom: 1px dashed #000;
}

.blockquote-cite2 {
 
    color: #fff;
    margin: 30px;
}

.blockquote .cite2 {
    background: #4F8CFF;
    padding: 45px;
    display: flex;
    border-radius: 12px;
    flex-flow: column wrap;


}

/* .blockquote .cite2 * {} */

.cite2-button {
    margin-left: 35px;
    border-style: none;
    border-radius: 8px;
    padding: 10px;
    font-size: large;
}

footer {
    background: #1F2937;
    max-height: 80px;
}

.footer {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 50px;
    color: #fff;

}